RewriteEngine on
#RewriteRule ^CoCreateCSS/(.*)$ /documentation/$1 [R=301,NC,L]
Redirect 301 /documentation/flip-item.html /documentation/CoCreateCSS/flip-item.html
Redirect 301 /documentation/avatar.html /documentation/CoCreateCSS/avatar.html